body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.budget-tracker {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #4a47a3;
  text-align: center;
}

.budget-form,
.transaction-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.budget-form label,
.transaction-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #4a47a3;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #362e99;
}

.balance {
  text-align: center;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar button {
  background-color: #161515;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar button.active {
  background-color: #4a47a3;
  color: rgb(19, 18, 18);
}

.transaction-history ul {
  list-style-type: none;
  padding: 0;
}

.transaction-history li {
  background: #0f0f0f;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color:white;
}

.date {
  font-size: 0.9em;
  color:white;
}
